<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <style>
        .topic,.form, .messages{
            text-align: center;
        }
        .main{
            border: solid black 1px;
            padding: 25px;
            margin-right: 15%;
            margin-left: 15%;
        }
        input{
            border-radius: 25px;
            height: 50px;
            font-size: 20px;
        }
        button{
            height: 30px;
            border-radius: 5px;
            background-color: yellow;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="topic">
            <h1>TO DO LIST</h1>
        </div>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <label>Enter the task to do</label>
            <input type="text" name="text" placeholder="enter the task"><br>
            <button type="submit">Submit</button>
        </form>
        {% for message in messages %}
        <div class="messages">
            <h3>{{message}}</h3>
        </div>
        {% endfor %}
    </div>

    
</body>
</html>